.buttonGroup>button {
    min-width: 40px;
  }
  .buttonGroup {
    margin: 3px;
    min-width: 320px;
    border: 1px solid rgba(102, 51, 153, 0.13);
    display: flex;
    justify-content: space-evenly;
    min-height: 40px;
    background-color: aliceblue;
  }
  